# Basic data types

In [1]:
# create an object

x = 5

In [2]:
# check its datatype

type(x)

int

In [3]:
# check different datatypes

print(type(5))
print(type(5.0))
print(type('five'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

------
# Lists

In [31]:
# create a list with multiple data types and print the list
# we cannot use 'list' as a variable, so we call it 'my_list'

my_list = [5, 5.0, 'five', 6,7]

In [32]:
my_list

[5, 5.0, 'five', 6, 7]

In [33]:
# check the type: list

type(my_list)

list

In [34]:
# check the length: 3

len(my_list)

5

In [35]:
# print first element in the list

my_list[0]

5

In [36]:
# what if we wanted to know the datatype of the third value in our list? 

type(my_list[2])

str

In [9]:
# replace a list element

my_list[0] = 8
my_list

[8, 5.0, 'five', 6, 7]

In [10]:
# use a list 'method' that adds a new value to the list
# you can see a list of methods for list by using the tab button

my_list.append(9)
my_list

[8, 5.0, 'five', 6, 7, 9]

In [11]:
# get help on this method - better yet, use shift + tab

help(my_list.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [12]:
# remove the string entry from the list

my_list.remove('five')
my_list

[8, 5.0, 6, 7, 9]

In [16]:
# sort the list, then in reverse, then overwrite your object with the newly sorted list

my_list = sorted(my_list, reverse=True)
my_list

[9, 8, 7, 6, 5.0]

### Slicing
Remember Python is zero-indexed

In [14]:
# return te first item in your list

my_list[0]

9

In [17]:
# return the second to fourth item in your list (including the fourth item)
# note: slicing is inclusive of first index but exclusive of second

my_list[1:4]

[8, 7, 6]

In [18]:
# return the last element in the list
my_list[-1]

5.0

### Appending

In [21]:
my_list[6] = 10 # error because you can't assign outside the existing range

IndexError: list assignment index out of range

In [24]:
my_list.append(4)
my_list

[9, 8, 7, 6, 5.0, 4, 4]

In [26]:
my_list = my_list + [3] # can only concatenate list (not "int") to list
my_list

[9, 8, 7, 6, 5.0, 4, 4, 3, 3]

### Exercise
1. Create a list of the first names of your team members.
2. Print the name of the last person in the list.
3. Print the length of the name of the first person in the list.
4. Change one of the names from their real name to their nickname.
5. Append a new person to the list.
6. Change the name of the new person to lowercase using the string method 'lower'.
7. Sort the list in reverse alphabetical order.

Bonus: Sort the list by the length of the names (shortest to longest).

In [39]:
team = ['Mark', 'Sajith', 'Kerry', 'Evelin', 'Jason', 'Josephine', 'Kristi', 'Ashot']

In [41]:
team[-1]

'Ashot'

In [42]:
len(team[0])

4

In [44]:
team[3] = 'Evilen'
team

['Mark', 'Sajith', 'Kerry', 'Evilen', 'Jason', 'Josephine', 'Kristi', 'Ashot']

In [46]:
team.append('Micky Mouse')
team

['Mark',
 'Sajith',
 'Kerry',
 'Evilen',
 'Jason',
 'Josephine',
 'Kristi',
 'Ashot',
 'Micky Mouse',
 'Micky Mouse']

In [47]:
team[-1] = team[-1].lower()
team

['Mark',
 'Sajith',
 'Kerry',
 'Evilen',
 'Jason',
 'Josephine',
 'Kristi',
 'Ashot',
 'Micky Mouse',
 'micky mouse']

In [48]:
sorted(team, reverse=True)

['micky mouse',
 'Sajith',
 'Micky Mouse',
 'Mark',
 'Kristi',
 'Kerry',
 'Josephine',
 'Jason',
 'Evilen',
 'Ashot']

In [49]:
sorted(team, key=len)

['Mark',
 'Kerry',
 'Jason',
 'Ashot',
 'Sajith',
 'Evilen',
 'Kristi',
 'Josephine',
 'Micky Mouse',
 'micky mouse']

------
# Functions
* if, elif, else
* for loops
* list comprehensions

In [21]:
# define a function

def my_function(some_variable):
    return some_variable * 2

In [23]:
# use the function, notice it only prints the result but it is not saved in memory

my_function(12)

24

In [24]:
# assign the result to an object, notice it doesn't print it

results = my_function(12)

In [25]:
# write a function using if elif else

def simple_calculator(x, y, operation):
    if operation == 'add':
        return x + y
    elif operation == 'subtract':
        return x - y
    else:
        print("This function can only add or subtract!")

In [27]:
simple_calculator(10,3, operation='add')

13

In [28]:
simple_calculator(10,3, operation='subtract')

7

In [30]:
simple_calculator(10,3, operation='multiply')

This function can only add or subtract!

### Exercise
Write a function that takes two parameters (hours and rate), and returns the total pay.
* Hours = 40hrs/week
* Rate = $90/hour

In [42]:
def compute_pay(hours, rate):
    return f"Your weekly salary would be ${hours * rate}"

In [43]:
compute_pay(40, 90)

'Your weekly salary would be $3600'

### Exercise
Print each list element in uppercase

`fruits = ['apple', 'banana', 'cherry']`

In [51]:
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [52]:
# Write it in a list comprehension

[fruit.upper() for fruit in fruits]

['APPLE', 'BANANA', 'CHERRY']

### Try the following on your own, then share :)
```
EXERCISE 1:
Given that: letters = ['a', 'b', 'c']
Write a list comprehension that returns: ['A', 'B', 'C']

EXERCISE 2 (BONUS):
Given that: word = 'abc'
Write a list comprehension that returns: ['A', 'B', 'C']

EXERCISE 3 (BONUS):
Given that: fruits = ['Apple', 'Banana', 'Cherry']
Write a list comprehension that returns: ['A', 'B', 'C']
```

In [54]:
letters = ['a', 'b', 'c']
[letter.upper() for letter in letters]  # iterate through a list of strings,
                                        # and each string has an 'upper' method

['A', 'B', 'C']

In [55]:
word = 'abc'
[letter.upper() for letter in word]     # iterate through each character

['A', 'B', 'C']

In [56]:
fruits = ['Apple', 'Banana', 'Cherry']
[fruit[0] for fruit in fruits]          # slice the first character from each string

['A', 'B', 'C']

------
# Dictionaries

In [57]:
family = {'dad':'Homer', 'mom':'Marge', 'size':2}

In [58]:
# check the length

len(family)         # returns 3 (number of key-value pairs)

3

In [59]:
# use the key to look up a value (fast operation regardless of dictionary size)

family['dad']       # returns 'Homer'

'Homer'

In [61]:
# can't use a value to look up a key, and dictionaries are unordered

family['Homer']     # error
family[0]           # error

KeyError: 'Homer'

In [62]:
# add a new entry

family['cat'] = 'snowball'

In [ ]:
# keys must be unique, so this edits an existing entry

family['cat'] = 'snowball ii'

In [63]:
# delete an entry

del family['cat']

In [64]:
# keys can be strings or numbers or tuples, values can be any type

family['kids'] = ['bart', 'lisa']   # value can be a list

In [65]:
# accessing a list element within a dictionary

family['kids'][0]   # returns 'bart'

'bart'

In [69]:
# explore useful methods for dictionaries

print(family.keys())
print(family.values())
print(family.items() )

dict_keys(['dad', 'mom', 'size', 'kids'])
dict_values(['Homer', 'Marge', 2, ['bart', 'lisa']])
dict_items([('dad', 'Homer'), ('mom', 'Marge'), ('size', 2), ('kids', ['bart', 'lisa'])])

### Exercise
1. Print the name of the mom.
2. Change the size to 5.
3. Add 'Maggie' to the list of kids.
4. Fix 'bart' and 'lisa' so that the first letter is capitalized.

Bonus: Do this last step using a list comprehension.

In [70]:
family['mom']                       # returns 'Marge'

'Marge'

In [71]:
family['size'] = 5                  # replaces existing value for 'size'

In [72]:
family['kids'].append('Maggie')     # access a list, then append 'Maggie' to it

In [74]:
family['kids'][0] = 'Bart'          # capitalize names by overwriting them
family['kids'][1] = 'Lisa'

In [75]:
# or, capitalize using a list comprehension and the 'capitalize' string method

family['kids'] = [kid.capitalize() for kid in family['kids']]

# APIs

1. Get API key at https://www.omdbapi.com/apikey.aspx
2. Paste your key in a text file called `omdb-api-key.txt` (and add the file to `.gitignore` so your key doesn't get pushed to a repository) 
2. Test it out by pasting the following in your browser: `https://www.omdbapi.com/?apikey=[your key]&t=moana`

In [81]:
# use requests to talk to the web

import requests

First, set up your API key in a secure way

In [89]:
# create a function, get_api_key(), 
# which reads your API key from your omdb-api-key.txt file and returns the clean key

def get_api_key():
    f = open('../work/omdb-api-key.txt','r')
    my_key = f.read().strip()
    return my_key
    f.close()

In [90]:
apikey = get_api_key()
apikey

'd0cbfefb'

In [91]:
print(get_api_key())

d0cbfefb

Next, construct the URL and search for data for the movie "blade"

In [92]:
base_url = 'http://www.omdbapi.com/?'
apikey = '&apikey='+get_api_key()
search_term = '&t=blade'

url = base_url+apikey+search_term
print(url)

http://www.omdbapi.com/?&apikey=d0cbfefb&t=blade

In [94]:
result = requests.request('GET',url).json()
result

{'Title': 'Blade',
 'Year': '1998',
 'Rated': 'R',
 'Released': '21 Aug 1998',
 'Runtime': '120 min',
 'Genre': 'Action, Horror, Sci-Fi',
 'Director': 'Stephen Norrington',
 'Writer': 'David S. Goyer',
 'Actors': "Wesley Snipes, Stephen Dorff, Kris Kristofferson, N'Bushe Wright",
 'Plot': 'A half-vampire, half-mortal man becomes a protector of the mortal race, while slaying evil vampires.',
 'Language': 'English, Russian, Serbian',
 'Country': 'USA',
 'Awards': '4 wins & 8 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTQ4MzkzNjcxNV5BMl5BanBnXkFtZTcwNzk4NTU0Mg@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '54%'},
  {'Source': 'Metacritic', 'Value': '45/100'}],
 'Metascore': '45',
 'imdbRating': '7.1',
 'imdbVotes': '226,061',
 'imdbID': 'tt0120611',
 'Type': 'movie',
 'DVD': '22 Dec 1998',
 'BoxOffice': 'N/A',
 'Production': 'New Line Cinema',
 'Website': 'N/A',
 'Response': 'True'}

In [95]:
def list_search_results(search_term):
    """
    Search the OMDB API using the 's=' functionality and prints out 
    the titles present in the search results.
    Parameters:
    * s: str, search term.
    """
    url = 'http://www.omdbapi.com/?&apikey='+get_api_key()+'&s='+search_term
    result = requests.request('GET',url).json()
    print("Your search term (", search_term, ") is in the following movies:", sep='')
    for movie_object in result['Search']:
        print(movie_object['Title'])

In [97]:
list_search_results('blade')

Your search term (blade) is in the following movies:
Blade Runner
Blade Runner 2049
Blade
Blade II
Blade: Trinity
Sling Blade
Dragon Blade
Blade of the Immortal
Shinobi: Heart Under Blade
Blade Runner: Black Out 2022