# Basic data types

In [1]:
# create an object

name = 'kyle'

In [2]:
# check its datatype

type(name)

str

In [3]:
# check different datatypes

print(type(5))
print(type(5.0))
print(type('five'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

------
# Lists

In [5]:
# create a list with multiple data types and print the list
# we cannot use 'list' as a variable, so we call it 'my_list'

my_list = [1, 2, 3, "four", 5.0]

In [6]:
# check the type: list

type(my_list)

list

In [7]:
# check the length: 5

len(my_list)

5

In [8]:
# print first element in the list

my_list[0]

1

In [11]:
# what if we wanted to know the datatype of the third value in our list? 

type(my_list[2])

int

In [14]:
# replace a list element

my_list[0] = 10
my_list[0]

10

In [15]:
# use a list 'method' that adds a new value to the list
# you can see a list of methods for list by using the tab button

my_list.append(99)
print(my_list)

[10, 2, 3, 'four', 5.0, 99]

In [ ]:
# get help on this method - better yet, use shift + tab

my_list.append()

In [16]:
# remove the string entry from the list

my_list.remove('four')

In [20]:
my_list.remove('four')

ValueError: list.remove(x): x not in list

In [17]:
my_list

[10, 2, 3, 5.0, 99]

In [18]:
my_list.sort()
my_list

[2, 3, 5.0, 10, 99]

In [19]:
# sort the list, then in reverse

my_list.sort(reverse=True)
my_list

[99, 10, 5.0, 3, 2]

### Slicing
Remember Python is zero-indexed

In [ ]:
# return the first item in your list

my_list[0]

In [26]:
# return the second to third item in your list (including the third item)
# note: slicing is inclusive of first index but exclusive of second

my_list[1:3]

[10, 5.0]

In [27]:
# return the last element in the list

my_list[-1]

2

### Exercise
1. Create a list of the first names of your team members.
2. Print the name of the last person in the list.
3. Print the length of the name of the first person in the list.
4. Change one of the names from their real name to their nickname.
5. Append a new person to the list.
6. Change the name of the new person to lowercase using the string method 'lower'.
7. Sort the list in reverse alphabetical order.

In [28]:
team = ['Mark', 'Sajith', 'Kerry', 'Evelin', 'Jason', 'Josephine', 'Kristi', 'Ashot']

In [30]:
team[-1]

'Ashot'

In [32]:
len(team[-1])

5

In [33]:
len(team[0])

4

In [34]:
team[3]="Evilin"

In [35]:
team

['Mark', 'Sajith', 'Kerry', 'Evilin', 'Jason', 'Josephine', 'Kristi', 'Ashot']

In [36]:
team.append("Sergio")

In [37]:
team

['Mark',
 'Sajith',
 'Kerry',
 'Evilin',
 'Jason',
 'Josephine',
 'Kristi',
 'Ashot',
 'Sergio']

In [40]:
team[-1] = team[-1].lower()

In [41]:
team

['Mark',
 'Sajith',
 'Kerry',
 'Evilin',
 'Jason',
 'Josephine',
 'Kristi',
 'Ashot',
 'sergio']

In [43]:
team.sort(reverse=True)
team

['sergio',
 'Sajith',
 'Mark',
 'Kristi',
 'Kerry',
 'Josephine',
 'Jason',
 'Evilin',
 'Ashot']

------
# Functions
* if, elif, else
* for loops
* list comprehensions

In [53]:
# define a function

def my_function(variable1, variable2):
    return variable1 * variable2

In [54]:
# use the function, notice it only prints the result but it is not saved in memory

my_function(2, 10)

20

In [56]:
# assign the result to an object, notice it doesn't print it

my_answer = my_function(2, 10)
my_answer

20

In [57]:
# write a function using if elif else

def simple_calculator(x, y, operation):
    if operation == "add":
        return x + y
    elif operation =="subtract":
        return x - y
    else:
        print("this is not valid")

In [59]:
simple_calculator(x=4, y=10, operation='add')

14

In [60]:
simple_calculator(4, 10, "add")

14

### Exercise
Write a function that takes two parameters (hours and rate), and returns the total pay.
* Hours = 40hrs/week
* Rate = $90/hour

In [61]:
def pay(hours, rate):
    return hours * rate

In [62]:
pay(40, 90)

3600

### Exercise
Print each list element in uppercase

`fruits = ['apple', 'banana', 'cherry']`

In [64]:
fruit_list = ['apple', 'banana', 'cherry']

In [66]:
for fruit in fruit_list:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [68]:
def print_uppercase(a_list):
    for item in a_list:
        print(item.upper())

In [69]:
print_uppercase(team)

SERGIO
SAJITH
MARK
KRISTI
KERRY
JOSEPHINE
JASON
EVILIN
ASHOT

------
# Dictionaries

In [70]:
family = {'dad':'Homer', 'mom':'Marge', 'size':2}

In [71]:
# check the length

len(family)

3

In [72]:
# use the key to look up a value (fast operation regardless of dictionary size)

family['dad']

'Homer'

In [75]:
family.items()

dict_items([('dad', 'Homer'), ('mom', 'Marge'), ('size', 2)])

In [73]:
# can't use a value to look up a key, and dictionaries are unordered

family.keys()

dict_keys(['dad', 'mom', 'size'])

In [76]:
family.values()

dict_values(['Homer', 'Marge', 2])

In [79]:
# add a new entry

family['cat'] = 'snowball'

In [80]:
family

{'dad': 'Homer', 'mom': 'Marge', 'size': 2, 'cat': 'snowball'}

In [81]:
# keys must be unique, so this edits an existing entry

family['cat'] = 'Snowball'

In [82]:
family

{'dad': 'Homer', 'mom': 'Marge', 'size': 2, 'cat': 'Snowball'}

In [83]:
# delete an entry

del family['cat']

In [84]:
family

{'dad': 'Homer', 'mom': 'Marge', 'size': 2}

In [85]:
# keys can be strings or numbers or tuples, values can be any type

family['kids'] = ['bart', 'lisa']

In [86]:
family

{'dad': 'Homer', 'mom': 'Marge', 'size': 2, 'kids': ['bart', 'lisa']}

In [87]:
# accessing a list element within a dictionary

family['kids'][1]

'lisa'

In [88]:
# explore useful methods for dictionaries

print(family.keys())
print(family.values())
print(family.items() )

dict_keys(['dad', 'mom', 'size', 'kids'])
dict_values(['Homer', 'Marge', 2, ['bart', 'lisa']])
dict_items([('dad', 'Homer'), ('mom', 'Marge'), ('size', 2), ('kids', ['bart', 'lisa'])])

### Exercise
1. Print the name of the mom.
2. Change the size to 5.
3. Add 'Maggie' to the list of kids.
4. Fix 'bart' and 'lisa' so that the first letter is capitalized.

Bonus: Do this last step using a list comprehension.

In [89]:
print(family['mom'])

Marge

In [90]:
family['size']=5

In [91]:
family

{'dad': 'Homer', 'mom': 'Marge', 'size': 5, 'kids': ['bart', 'lisa']}

In [95]:
family['kids'].append('maggie')

In [96]:
family

{'dad': 'Homer', 'mom': 'Marge', 'size': 5, 'kids': ['bart', 'lisa', 'maggie']}

In [98]:
# or, capitalize using a list comprehension and the 'capitalize' string method

for kid in family['kids']:
    print(kid.capitalize())

Bart
Lisa
Maggie

In [101]:
[kid.capitalize() for kid in family['kids']]

['Bart', 'Lisa', 'Maggie']

In [104]:
family['kids'] = [kid.capitalize() for kid in family['kids']]

In [105]:
family

{'dad': 'Homer', 'mom': 'Marge', 'size': 5, 'kids': ['Bart', 'Lisa', 'Maggie']}

# APIs

1. Get API key at https://www.omdbapi.com/apikey.aspx
2. Paste your key in a text file called `omdb-api-key.txt` (and add the file to `.gitignore` so your key doesn't get pushed to a repository) 
2. Test it out by pasting the following in your browser: `https://www.omdbapi.com/?apikey=[your key]&t=moana`

In [ ]:
# use requests to talk to the web

First, set up your API key in a secure way

In [ ]:
# create a function, get_api_key(), 
# which reads your API key from your omdb-api-key.txt file and returns the clean key

Next, construct the URL and search for data for the movie "blade"

In [ ]:
base_url = 'http://www.omdbapi.com/?'
apikey = '&apikey='+get_api_key()
search_term = '&t=blade'

url = base_url+apikey+search_term
print(url)

In [ ]:
result = requests.request('GET',url).json()
result

In [ ]:
def list_search_results(search_term):
    """
    Search the OMDB API using the 's=' functionality and prints out 
    the titles present in the search results.
    Parameters:
    * s: str, search term.
    """
    url = 'http://www.omdbapi.com/?&apikey='+get_api_key()+'&s='+search_term
    result = requests.request('GET',url).json()
    print("Your search term (", search_term, ") is in the following movies:", sep='')
    for movie_object in result['Search']:
        print(movie_object['Title'])

In [ ]:
list_search_results('blade')